<div class="fourteen wide column videos">
    <div *ngIf="isLoading">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw loader"></i>
        <span class="sr-only">Loading...</span>
    </div>

    <br/>
    <br/>
    <div class="ui link cards">
        <div *ngFor="let video of videos" class="card">
            <div class="image">
                <img src="{{video.thumbnails[0]}}">
            </div>
            <div class="content">
                <div class="header">{{video.title}}</div>
                <div class="meta">
                    <a>location</a>
                </div>
                <div class="description">
                    {{video.description}}
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">
                    {{ video.modified | date:"MM/dd/yy" }}
                </span>
                <span>
                    <i class="user icon"></i>
                    0
                </span>
            </div>
        </div>
    </div>
</div>