<div class="ui two column stackable grid">
    
    <div class="two wide column videos">
        <div class="ui vertical menu">
        <a class="active item">
            <div class="ui teal label">1</div>
            Inbox
        </a>
        <a class="item">
            <div class="ui label">51</div>
            Spam
        </a>
        <a class="item">
            <div class="ui label">1</div>
            Updates
        </a>
        <div class="item">
            <div class="ui icon input">
            <input type="text" placeholder="Search mail...">
            <i class="search icon"></i>
            </div>
        </div>
    </div>
        <div class="ui vertical text menu">
            <div class="header item">Sort By</div>
            <a class="active item">
                Closest
            </a>
            <a class="item">
                Most Comments
            </a>
            <a class="item">
                Most Popular
            </a>
        </div>
    </div>
    <div class="fourteen wide column videos">
        <h2 class="ui header">
            <i class="video icon"></i>
            <div class="content">
                Videos
            </div>
        </h2>
        <div class="ui breadcrumb">
            <a class="section">Videos</a>
            <div class="divider"> / </div>
            <a class="section">Search</a>
            <div class="divider"> / </div>
            <div class="active section">Maldives</div>
        </div>
        <br/>
        <br/>
        <div class="ui link cards">
            <div class="card">
                <div class="image">
                    <img src="http://s33.postimg.org/44m8pvs8f/121.png">
                </div>
                <div class="content">
                    <div class="header">Matt Giampietro</div>
                    <div class="meta">
                        <a>Friends</a>
                    </div>
                    <div class="description">
                        Matthew is an interior designer living in New York.
                    </div>
                </div>
                <div class="extra content">
                    <span class="right floated">
          Joined in 2013
        </span>
                    <span>
          <i class="user icon"></i>
          75 Friends
        </span>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="http://s33.postimg.org/nq4ddwyi7/121.png">
                </div>
                <div class="content">
                    <div class="header">Molly</div>
                    <div class="meta">
                        <span class="date">Coworker</span>
                    </div>
                    <div class="description">
                        Molly is a personal assistant living in Paris.
                    </div>
                </div>
                <div class="extra content">
                    <span class="right floated">
          Joined in 2011
        </span>
                    <span>
          <i class="user icon"></i>
          35 Friends
        </span>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="http://s33.postimg.org/eyejyw567/121.png">
                </div>
                <div class="content">
                    <div class="header">Elyse</div>
                    <div class="meta">
                        <a>Coworker</a>
                    </div>
                    <div class="description">
                        Elyse is a copywriter working in New York.
                    </div>
                </div>
                <div class="extra content">
                    <span class="right floated">
          Joined in 2014
        </span>
                    <span>
          <i class="user icon"></i>
          151 Friends
        </span>
                </div>
            </div>
        </div>
    </div>
</div>