body {
    background: url(../../assets/images/background.jpg) no-repeat center center fixed !important; 
    -webkit-background-size: cover !important;
     -moz-background-size: cover !important;
    -o-background-size: cover !important;
}