.custom-valign {
    margin-top: 10%;
}

::-webkit-input-placeholder {
   color:white;
}

:host(.landing){
    position: fixed;
    width: 100%;
    height:100%;
    padding:0px;
    margin: 0px;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
}

:host(.landing.ng-enter) {
    transform: rotateY(90deg);
    opacity: 0;
}

:host(.landing.ng-enter-active) {
    transform: rotateY(0deg);
    opacity: 1;
    
}
 

