<div class="bg" data-ibg-bg="assets/images/background.jpg"></div>
<div class="row custom-valign">
    <div class="col s12 l6 offset-l3">
        <form>
            <div class="input-field">
                <input placeholder="Tell us where do you want to go" style="border-bottom: 4px solid white;" id="search" type="search" required>
                <label for="search"><i style="color: white; font-size: 30px;" class="material-icons">search</i></label>
            </div>
        </form>
    </div>
</div>