<div class="row">
    <br><br><br>
    <div class="col s12 l6 offset-l3">
        <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
            <div class="input-field">
                <input placeholder="Tell us where do you want to go" style="border-bottom: 4px solid white;" id="search" type="search" required
                    ngControl="search">
                <label for="search"><i style="color: white; font-size: 30px;" class="material-icons">search</i></label>
            </div>
        </form>
    </div>
</div>